.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px);
  color: white;
}

.App-link {
  color: #61dafb;
}

.prdsPic {
  width: 20%;
  height: auto;
}

.prds {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid transparent;
}

.info {
  width: 80%;
  height: auto;
  color:white;
  text-decoration: none; 
  background-color: none;
  /* border: 1px solid green; */
}

.info:hover {
  text-decoration:none
}

.info_name {
  font-size: calc(10px + 2vmin);
  /* border: 1px solid blue; */
}

.info_more {
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.info_more p {
  transform: scale(1.6);
}

.buttonBelow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid transparent;
}

.buttonBelow button {
  height: 50%;
}

.selected {
  color: white;
  cursor: default;
  background-color: transparent;
  border: none;
}

.page-button {
  color: rgb(151, 151, 255);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.page-button:hover {
  text-decoration: underline;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
